body {
    margin: 0%;
}


.navbar {
    width: 78;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}


.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}


.menu a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-size: 16px;
}


.get-started {
    background: #ffcc00;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;

}


.get-starteds {
    color: aliceblue;
    background: rgb(0, 0, 0);
    border-radius: 1%;
    font-weight: bold;
}

.yellow-section {
    margin-top: 10%;
    background: #f7b500;
    color: black;
    padding: 120px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
